<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<section id="home">
    <h1>Welcome to Movie Tracker</h1>
    <h2>Keep track and leave reviews of movies you watched!</h2>
    <h2>Login or Register to make changes</h2>
</section>

<div class="homeBt">
    <!-- Login Button -->
    <a href="/login" class="btn btn-primary">Login</a>

    <!-- Register Button -->
    <a href="/register" class="btn btn-secondary">Register</a>

    <!--Movie List Button-->
    <a href="/movieslist" class="btn btn-info">Movie List</a>
</div>

<%- include Partials/footer.ejs%>