body {
    background-color: beige;
  }
.home h1, h2{
    text-align: center;
}
.homeBt{
    display: flex;
    justify-content: center;
    align-items: center ;
}
.homeBt a{
    margin: 0 10px;
}
.homeBtList {
    display: flex;
    align-items: center;
    justify-content: center;
}

